@import "./vars";

.custom-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 0 0 0;
  position: relative;

  &__text {
    border: 1px solid $color-gray;
    border-radius: $radius;
    padding: 0.3rem 0.5rem;
    transition: transparent 50000s ease-in-out 0s;

    &:focus {
      box-shadow: 0 0 6px 4px $color-gray;
      outline: none;
    }
  }

  &__label {
    margin-left: 0.5rem;
    position: absolute;
    text-align: start;
    @include transition;

    &:not(.placeholder) {
      font-size: 0.75rem;
      font-weight: bold;
      top: -1.2rem;
    }

    &.placeholder {
      opacity: 0.5;
    }
  }

  &::before {
    content: "🔍";
    display: block;
    opacity: 0.5;
    position: absolute;
    right: 0.5rem;
  }
}
