@import "./vars.scss";

.custom-checkbox {
  background-color: $color-white;
  border: 1px solid $color-black;
  border-radius: $radius;
  box-shadow: 2px 2px 2px 2px $color-gray;
  margin: 5px;
  padding: 5px 10px 5px 30px;
  @include transition;

  &:hover {
    background-color: $color-hover;
    cursor: pointer;
  }

  &__value {
    position: relative;

    &::before {
      border-radius: 50%;
      box-shadow: 0 0 2px 2px $color-shadow-gray;
      content: "";
      display: block;
      height: 10px;
      left: -1rem;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      @include transition;

      .custom-checkbox__input:checked + & {
        background-color: $color-green;
        box-shadow: 0 0 2px 2px $color-green;
      }
    }
  }

  &__input {
    display: none;
  }
}

.checkbox-checked {
  box-shadow: 0 0 2px;
}
