@import "./vars.scss";

.menu {
  align-items: center;
  background-color: $color-form;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  padding: 20px;
  //   justify-content: center;

  //   &-block {
  //     background-color: $color-form;
  //     border-radius: $radius;
  // margin: 5px 0;
  // max-height: 350px;
  // overflow-y: auto;
  // padding: 20px;
  // width: 350px;

  // &:not(:first-child) {
  //   margin-top: 10px;
  // }
  //   }

  &-control {
    &__btns {
      display: flex;
      justify-content: center;
    }
  }

  &-view {
    // display: flex;
    // justify-content: center;
  }
}
