@import "./vars.scss";

.menu {
  align-items: center;
  background-color: $color-form;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  padding: 20px;

  &-control__btns {
    display: flex;
    justify-content: center;
  }

  &-view {
    margin-top: 20px;
  }
}
