// COLORS
$color-white: #fff;
$color-black: #000000;
$color-black-l: rgba(0, 0, 0, 0.1);
$color-red: red;
$color-gray: gray;
$color-form: rgb(220, 230, 230);
$color-green: rgb(15, 185, 50);
$color-hover: rgba(210, 230, 240);
$color-shadow-gray: rgb(177, 177, 177);

$radius: 0.3rem;

@mixin transition {
  transition: 0.2s;
}
