@import "./styles/Main.scss";
@import "./styles/Card.scss";
@import "./styles/CustomBtn.scss";
@import "./styles/List.scss";
@import "./styles/Spinner.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0 20px;
  padding: 0;
}

.App {
  /* padding: 20px; */
}
